<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расход материалов</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
{% if data is not defined %}
<div class="choice">
    <h1 class="header">Выберите нужную таблицу</h1>
    <form>
        {% for i in range(tables_list| length) %}
            <button name="table" value={{i+1}}>{{ tables_list[i] }}</button>
        {% endfor %}
    </form>
</div>
{% if error is defined %}
<p class="info">Вы ввели неправильный номер.</p>
{% endif %}
{% else %}
<h1 class="header">Выберите строки, которые вы хотите удалить</h1>
<div class="table">
    <table>
        <tr>
            {% for item in headers %}
            <th>{{ item }}</th>
            {% endfor %}
            <th>Выбрано</th>
        </tr>
        {% for row in data %}
            <tr>
                {% for col in row %}
                <td>{{ col }} </td>
                {% endfor %}
                <td><input type="checkbox" class="rowCheckbox"><span class="checkmark"></span></td>
            </tr>
        {% endfor %}
    </table>
    <button id="refer" onclick="deleteSelected();">Удалить выбранные строки</button>
</div>
{% endif %}

{% if success is defined %}
{% if success %}
<p class="info">Данные успешно удалены.</p>
{% else %}
<p class="info">Ошибка при удалении некоторых строк.</p>
{% endif %}
{% endif %}
{% if table_id is defined %}
<input class="value" value={{table_id}} type="hidden">
{% endif %}
<div class="footer">
  <p class="footer-text">
    <a href="/">Вернуться в меню</a>
  </p>
</div>
<script>
      function deleteSelected() {
      const selectedRows = [];
      const checkboxes = document.getElementsByClassName('rowCheckbox');
      let value = document.getElementsByClassName('value')[0].value;
      selectedRows.push(value);
      for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          selectedRows.push(i);
        }
      }

      // Отправляем данные с помощью AJAX
      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/delete', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({ selectedRows: selectedRows }));
      location.href = "/delete?success=True";}</script>
</body>
</html>