<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расход материалов</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
<div class="choice">
    <h1 class="header">Выберите действие</h1>
    <form>
        <button name="choice" value="1">Напечатать таблицу</button>
        <button name="choice" value="2">Добавить данные</button>
        <button name="choice" value="3">Удалить данные</button>
        <button name="choice" value="4">Редактировать данные</button>
        <button name="choice" value="5">Вывести статистику</button>
    </form>
</div>
</body>
</html>